@import "tailwindcss";

:root {
  --primary: #16a34a;
  --dark: #111827;
  --light: #f8fafc;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--light);
  color: var(--dark);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
::selection {
  background: #16a34a;
  color: white;
}

img {
  display: block;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

body {
  overflow-x: hidden;
}